.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 80px 0;
  min-height: 200px;
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 80px 0 0 0;
  text-align: center;
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  .preloader {
    padding: 60px 0;
    min-height: 180px;
  }

  .preloader__text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 70px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .preloader {
    padding: 40px 0;
    min-height: 160px;
  }

  .preloader__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 60px;
  }
}
